* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

@media (min-width: 769px) {
  .disapeer {
    display: none;
  }

  header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150px;
    background: #3e3e3e;
    margin: 0 auto;
  }

  .content {
    width: 85%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .black-menu {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
  }

  .black-menu li {
    list-style-type: none;
    padding: 8px;
  }

  .black-menu a {
    color: white;
    text-decoration: none;
  }

  .menu a {
    color: #333;
    display: flex;
    flex-direction: row;
    text-decoration: none;
  }

  .cc a {
    text-align: center;
    width: 100%;
    height: 50px;
    border: 5px solid #ec5242;
    color: #ec5242;
  }

  .program a {
    color: #fff;
    text-align: center;
    font-weight: bold;
  }

  .black-menu a:hover {
    font-weight: bold;
  }

  .navbar {
    border: 3px solid gold;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: white;
  }

  .menu {
    display: flex;
    border: 4px solid red;
    height: 70px;
    width: auto;
    margin: 0 auto;
    background-color: white;
  }

  .menu-section {
    display: flex;
    justify-content: flex-end;
  }

  .menu-section a:hover {
    color: #ec5242;
    font-weight: bold;
  }

  .menu ul {
    list-style-type: none;
    display: flex;
  }

  .menu li {
    padding: 15px;
    justify-content: center;
  }

  .headline {
    background-image: url(Images/luces.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .text {
    display: flex;
    flex-direction: column;
    border: 3px solid red;
    justify-content: center;
    align-self: center;
    margin-top: 250px;
  }

  .small-title {
    color: #f14323;
    margin-bottom: 10px;
    font-size: 20px;
  }

  .big-title {
    color: #ec5242;
    margin-bottom: 30px;
    font-size: 50px;
  }

  .paragraph {
    border: 3px solid white;
    background: gray;
    padding: 5px;
    color: white;
    font-weight: bold;
    margin-bottom: 15px;
    width: 30%;
  }

  .last-info {
    color: #4f4f4f;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
  }

  .program {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background:
      linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
      linear-gradient(207deg, #151515 5px, transparent 5px) 10px,
      linear-gradient(27deg, #222 5px, transparent 5px)  10px,
      linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
      linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
      linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    width: 100%;
  }

  .main {
    text-align: center;
    color: white;
    font-weight: bold;
    border: 3px solid gold;
    width: 100%;
    height: 50px;
    margin-top: 20px;
  }

  .underscore {
    border: 1px solid #ec5242;
    width: 5%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .atractions {
    justify-content: center;
    border: 3px solid gold;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }

  .atractions img {
    width: 100px;
    height: 100px;
    justify-content: center;
    align-self: center;
  }

  .row {
    border: 3px solid white;
    display: flex;
    margin: 0 auto;
    width: 60%;
    height: auto;
    justify-content: center;
    align-self: center;
  }

  .red-title {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #ec5242;
    font-weight: bold;
    padding: 10px;
  }

  .program-paragraph {
    display: flex;
    text-align: justify;
    width: 100%;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
  }

  .speakers {
    display: flex;
    width: 100%;
  }

  .speakers img {
    width: 200px;
    height: 200px;
  }

  .speaker-title {
    text-align: center;
    color: black;
    font-weight: bold;
    border: 3px solid gold;
    width: 100%;
    height: 50px;
    margin-top: 20px;
  }

  .people-info {
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 1px solid black;
    margin-left: 15px;
  }

  .cards {
    display: flex;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 20px;
    border: 2px solid red;
  }

  .italic {
    font-style: italic;
    display: flex;
  }

  .column1 {
    width: 30%;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(62, 105, 62);
  }

  .column2 {
    width: 30%;
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(0, 0, 255, 0.945);
  }

  .red-subtitle {
    font-size: 12px;
    color: #ec5242;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .patrocinadores {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-right: 50px;
    background-color: #3e3e3e;
  }

  .logos {
    width: auto;
    display: flex;
    justify-content: space-evenly;
  }

  .footer {
    display: flex;
    justify-content: center;
  }
}
