* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

@media (max-width: 769px) {
  .hide {
    display: none;
  }

  .d-flex {
    display: flex
  }

  .flex-center {
    align-items: center;
    justify-content: center;
  }

  header {
    width: 100%;
  }


}